a {
   font-family: 'Exo';
   font-size: 1em;
   font-weight: normal;
   color: #30497a;
   text-decoration:none;
}
h1 {
   font-family: 'Exo';
   font-size: 1.5em;
   font-weight: bold;
   color: #3D5C99; 	
}

a:hover {
   font-weight:bold;
   color: #1e2e4c;
   font-size: 1.25em;
}
p {
   font-family: 'Exo';
   font-size: .75em;
   font-weight: normal;
   color: #3D5C99;
}
